*{
  font-family: Arial;
}
.container{
  display: flex
  flex-direction:column;
  height:100vh
  }
    
.header{
  flex:15%
  background-color: lightgray;

}
 .menu{
   flex:5%
     backgroundcolor: gray:
}
.content{
  flex: 70%
    background-color; white;
}
.footer{
  flex:10%
    background-color: lightgray;
}




.fl{ 
  color: red;
  margin-top: 18pt; 
  margin-bottom: 12pt; 
  font-size: 20px; 
  font-weight: bold; 
  font-family: Arial; 
} 
.f2 
{ 
  color: black; 
  margin-top: 6pt; 
  margin-bottom: 15pt; 
  font-size: 15px; 
  font-style: normal; 
  font-family: Arial; 
}
